<style type="text/css">
  pre.hl  { color: #ffffff; background-color: #000000; font-size: 10pt; font-family: Courier;}
  .num    { color: #ff0000; }
  .esc    { color: #ff22ff; }
  .str    { color: #ff0000; }
  .dstr   { color: #ff0000; }
  .slc    { color: #0000ff; }
  .com    { color: #0000ff; }
  .dir    { color: #ff22ff; }
  .sym    { color: #ffffff; }
  .line   { color: #0000ff; }
  .kwa    { color: #B26818; }
  .kwb    { color: #00ff00; }
  .kwc    { color: #B26818; }
  .kwd    { color: #ffffff; }
</style>

<% unless @paste_entry.title.blank? %>
<p>
  <b>Title:</b>
  <%= h @paste_entry.title %>
</p>
<% end %>

<p>
  <b>Channel:</b> <%= h @paste_entry.channel %>
<% unless @paste_entry.paster.nil? %>
  <br />
  <b>Nick Name:</b> <%= h @paste_entry.paster.nickname %><br />
<% end %>
</p>

<p>
  <b>Paste body:</b>
  <pre class="hl"><%= @pretty_body %></pre>
</p>

<%= link_to 'Edit', edit_paste_entry_path(@paste_entry) %> |
<%= link_to 'Back', paste_entries_path %>
