%div.paste-entry
  %p
    %b In: 
    = @paste_entry.channel.to_s
    %br
    - if @paste_entry.paster
      %b By: 
      = h @paste_entry.paster.nickname
  %p
    %b= h @paste_entry.title.to_s
    %br
  %p
    %div.highlighted-code
      - @paste_entry.sections.each do |section|
        ~ begin;section.highlighted;rescue; h section.text;end
  %p
    - if @paste_entry.private and @paste_entry.network != "Freenode"
      = A("Plain Text Version", :href => Rs(:view, @paste_entry.id, "pastr_#{@paste_entry.id}.txt", {:key => @paste_entry.paste_key}))
    - else
      = A("Plain Text Version", :href => Rs(:view, @paste_entry.id, "pastr_#{@paste_entry.id}.txt"))
    = A("Annotate this paste", :href => Rs(:annotate, @paste_entry.id))

- @paste_entry.annotations.each_with_index do |annotation, a_idx|
  %div.annotation
    %p
      %a{:name => link="annotation-#{a_idx + 1}"}
      %br
      - if annotation.paster
        %b By: 
        = h annotation.paster.nickname
    %p
      %b
        %a{:href => '#' + link}= h annotation.title.to_s
      %br
    %p
      %div.highlighted-code
        - annotation.sections.each do |section|
          ~ section.highlighted
    %p
      = A("Plain Text Version", :href => Rs(:view_annotation, annotation.id, "pastr_#{@paste_entry.id}-#{a_idx + 1}.txt"))
      = A("Annotate this paste", :href => Rs(:annotate, @paste_entry.id))
      %hr/
