%p
  %b Title:  
  = @paste_entry.title.to_s
%p
  %b Channel: 
  = @paste_entry.channel.to_s
  %br
  - if @paste_entry.paster
    %b Nick Name: 
    = @paste_entry.paster.nickname
  %br
%p
  %b Paste body: 
  - if CodeRay::Scanners.list.include?(@paste_entry.syntax)
    ~ CodeRay.highlight(@paste_entry.paste_body.to_s, @paste_entry.syntax.to_sym, :line_numbers => :list, :css => :class)
  - else
    %br
    ~ Uv.parse(@paste_entry.paste_body.to_s, "xhtml", @paste_entry.syntax, true, "iplastic")
%p
  = A("Plain Text Version", :href => Rs(:view, @paste_entry.id, "pastr_#{@paste_entry.id}.txt"))
